<html>
	<head>
		<title>Le Blog de Manta</title>
	</head>
	<body>
		<div>
            		<h1><a href="">Django Blog Manta</a></h1>
        	</div>
		<div>
		    <p>published: 10.05.2017, 12:14</p>
		    <h2><a href="">My first post</a></h2>
		    <p>Hi Everybody i am going to present you my first blog using python, 
				django and html!</p>
        	</div>

        	<div>
		    <p>published: 10.05.2017, 12:14</p>
		    <h2><a href="">My second post</a></h2>
		    <p>I am now expert in django(hahaha)! No i have many to learn but  i am happy 				to write a second post for you! Let's go!</p>
		</div>
	</body
    
</html>
